
@media only screen and (min-width: 600px) {
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    background: rgba(255, 255, 255, 0.6);; 
    padding: 20px;
    border-radius: 15px; 
    color: #333; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-container:hover {
    transform: translateY(-20px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.icon-container i {
    font-size: 50px;
    margin-bottom: 10px;
}

.icon-container .icon-text {
    text-align: center;
}

.icon-container h3 {
    margin: 10px 0;
    font-size: 22px;
    color: #4B59AF;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
}

.icon-container p {
    font-size: 14px; 
    color: #333; 
    line-height: 1.5; 
    margin-bottom: 15px; 
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8); /
}

.icon-container a {
    font-size: 14px;
    color: #4B59AF;
    text-decoration: none;
    margin-top: 10px;
    transition: color 0.3s ease;
}

.icon-container a:hover {
    color: #FF6347;
    text-decoration: underline;
}


.icon-container .fa-facebook-f {
    color: #1877F2;
}

.icon-container .fa-threads {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-container .fa-twitter {
    color: #1DA1F2;
}

.icon-container .fa-linkedin-in {
    color: #0077B5;
}
} 


